body{
    background-color: #0c1014;
    color: white;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-title{
    font-size: 62px;
    text-transform: uppercase;
    text-align: 46px 0;
}

.header{
    display: flex;
    background-color: #05080a;
    padding: 16px;
    justify-content: space-between;
}

.header__logo{
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 16px;
}

.header__nav ul{
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 16px; 
}

.header__nav a{
    color: white;
    text-decoration: none;
    padding: 14px;
    border-radius: 6px;
}

a.header__nav--active{
    background-color: #cbe300;
    color: #0c1014;
}